{% extends 'base.html' %}
{% block content %}
<div class="container pt-4">
<div class="row d-flex ">
<div class="col-12 col-lg-4">
  <img class="img-fluid"  src="{{ event.imageEvent.url }}"alt="Card image cap">
</div>
    <div class="col-12 col-lg-8">
      <div class="d-flex flex-column  align-items-start">
      <div>
        <hr>
      <h5 class="">{{event.title}}</h5>
      <hr>
      <p>  {{event.dateEvent}}  |   {{event.nbParticipants}} Participants.</p>
    </div>
  </div>
  <h6>Organizer : <span>{{event.organizer}} </span></h6> 
      <p class="card-text">{{event.description}}</p>
      <a  class="btn btn-success  mt-1" href="{% url 'participate_event' event.id %}"> Participate</a>

    

    </div>
  </div>
</div>
{% endblock %}