{% extends 'base.html' %}
{% block content %}
<table class="table table-strped mt-5">
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Image</td>
        <td>Organizer</td>
    </tr>
    {% for event in events %}
    <tr>
        <td><a href="{%url 'Event_details' event.id %}">{{ event.title}}</a></td>
        <td>{{ event.description}}</td>
        <td><img src="{{ event.imageEvent.url }}" class="img-fluid w-50" alt=""></td>
        <td> {{event.organizer}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}