{% extends 'base.html' %}
{% block content %}
<table class="table table-hover mt-5">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Date</th>
        <th scope="col">Nbr Participants</th>
        <th scope="col">Organizer</th>
        <th scope="col">State</th>
        <th scope="col "><a  href="{% url 'add_event' %}" class="btn btn-success"> New</a></th>

        
    </tr>
    {% for event in events %}
    <tr>
        <td><a  href="{% url 'Event_details' event.id %}">{{ event.title}}</a></td>
        <td>{{ event.description}}</td>
        <td><img src="{{ event.imageEvent.url }}" class="img-fluid" style="width:50%" alt=""></td>
        <td> {{event.dateEvent}}</td>
         <td> {{event.nbParticipants}}</td>
         <td>{{event.organizer}}</td>
         <td>{{event.state}}</td>
        <td>
            <div  class="d-flex flex-column align-items-center">
            <a  class="btn btn-warning mt-1" href="{% url 'update_event' event.id %}"> Modify</a>

            <a  class="btn btn-danger mt-1" href="{% url 'delete_event' event.id %}"> delete</a>
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}